@import "tailwindcss";
@import "pixelroot32-components-landing-page/src/theme/tailwind.css";
@source "../node_modules/pixelroot32-components-landing-page/src/**/*.ts";

@layer utilities {
  .bg-grid-pattern {
    background-image: 
      linear-gradient(to right, var(--color-grid) 1px, transparent 1px),
      linear-gradient(to bottom, var(--color-grid) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}
